@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.bg-black-subtle {
  background-color: rgb(38, 38, 38);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.heading-text {
  @apply text-5xl font-semibold py-10 max-w-3xl text-white/65
}

.paragraph-text {
  @apply text-base font-normal max-w-3xl text-white/65
}

body {
  background: #111111;
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}

.vanishing-text {
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
  position: relative;
  top: 6px;
  max-width: 0;
  animation: vanish 10s linear infinite;
}

@keyframes vanish {
  0% {
    max-width: 0;
  }

  50% {
    max-width: 100%;
  }

  100% {
    max-width: 0;
  }
}

.call-button {
  background: #2911d9;
  background: linear-gradient(145deg, rgba(41, 17, 217, 1) 0%, rgba(41, 67, 153, 1) 28%, rgba(152, 16, 250, 1) 66%);
}

