@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee 20s linear infinite reverse;
}

.pause-marquee:hover {
  .animate-marquee {
    animation-play-state: paused;
  }

  .marquee-track div:hover {
    transform: scale(1.1);
  }

  .animate-marquee-reverse {
    animation-play-state: paused;
  }
}
/* Dark Shining Gradient */
/* .grad-text {
  background: linear-gradient(270deg, #9810fa, #38065c, #9810fa);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */


/* Rotating Gradient */
/* .grad-text {
  background: radial-gradient(circle at center, #9810fa, #38065c);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: spinGradient 6s linear infinite;
}

@keyframes spinGradient {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
} */


/* Pulsing Gradient */
.grad-text {
  background: radial-gradient(circle, rgba(152, 16, 250, 1), rgba(56, 6, 92, 1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.4);
  }
}

.outline-text {
  font-weight: 900;
  color:#9810fa;
  text-transform: uppercase;
}

.card-border {
  position: relative;
  box-shadow: 0px 0px 11px 2px rgba(253, 249, 249, 0.05) inset;
  &:hover {
    svg {
      animation: skew-x-shaking 1s linear forwards infinite;
    }
  
    @keyframes skew-x-shaking {
      0% {
        transform: skewX(-15deg);
      }
  
      5% {
        transform: skewX(15deg);
      }
  
      10% {
        transform: skewX(-15deg);
      }
  
      15% {
        transform: skewX(15deg);
      }
  
      20% {
        transform: skewX(0deg);
      }
  
      100% {
        transform: skewX(0deg);
      }
    }
  }
}

.card-border::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 16px;
  background-color: white;
  z-index: -1;
  background: #9810FA;
  background: linear-gradient(319deg, rgba(152, 16, 250, 1) 0%, rgba(183, 131, 235, 1) 100%);

}

.shake-animation {
  animation: skew-x-shaking .3s linear forwards infinite;
}

@keyframes skew-x-shaking {
  0% {
    transform: skewX(-15deg);
  }

  5% {
    transform: skewX(15deg);
  }

  10% {
    transform: skewX(-15deg);
  }

  15% {
    transform: skewX(15deg);
  }

  20% {
    transform: skewX(0deg);
  }

  100% {
    transform: skewX(0deg);
  }
}
/* Orbital Motion */


/* .orbit-wrapper {
  position: relative;
  width: 500px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.react-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.react-logo {
  font-size: 5rem;
  color: #8b5cf6;
  filter: drop-shadow(0 0 14px rgba(139, 92, 246, 0.6));
  animation: center-spin 20s linear infinite;
}

.orbit-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: 1.5px solid rgba(139, 92, 246, 0.2);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
}

.ring-inner {
  width: 200px;
  height: 200px;
}

.ring-middle {
  width: 380px;
  height: 380px;
}

.ring-outer {
  width: 500px;
  height: 500px;
}

.orbit-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: orbit-rotate linear infinite;
  transform-origin: center;
}

.orbit-container.reverse {
  animation-direction: reverse;
}

.orbit-item {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.7rem;
  transform-origin: center center;
  transition: transform 0.25s ease, filter 0.25s ease;
  filter: drop-shadow(0 0 6px rgba(139, 92, 246, 0.6));
}

.orbit-item:hover {
  transform: scale(1.2);
  z-index: 100;
  filter: drop-shadow(0 0 14px rgba(139, 92, 246, 0.9));
}

@keyframes orbit-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes center-spin {
  from {
    transform:  rotate(0deg);
  }

  to {
    transform:  rotate(360deg);
  }
} */

.orbit-wrapper {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.react-center {
  position: absolute;
  z-index: 5;
}

.react-logo {
  font-size: 5rem;
  color: #a855f7;
  animation: spin 20s linear infinite;
}

.orbit-ring {
  position: absolute;
  border: 4px solid rgba(147, 51, 234, 0.5);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  animation: rotateOrbit linear infinite;

}

.orbit-container.reverse {
  animation-direction: reverse;
}

.orbit-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  font-size: 1.7rem;
  color: #7C17CA;
  transition: all .3s linear;
  z-index: 10!important;
  &:hover {
    font-size: 2rem;
  }
}

.orbit-wrapper:hover {
  & .orbit-container {
    animation-play-state: paused;
  }
  & .orbit-container.reverse {
    animation-play-state: paused;
  }
  & .orbit-container-0 {
    z-index: 2;
  }

  & .orbit-container-1 {
    z-index: 1;
  }

  & .orbit-container-2 {
    z-index: 0;
  }

  & .react-logo {
    animation-play-state: paused;
  }
}

@keyframes rotateOrbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* <-- Backgroun Blob --> */
.stage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.blob {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(168, 85, 247, 0.25) 0%, rgba(216, 180, 254, 0.25) 100%);
  filter: blur(60px);
  opacity: 0.6;
  animation: slowDrift 40s ease-in-out infinite;
  will-change: transform;
}

.blob::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(168, 85, 247, 0.15) 0%, rgba(216, 180, 254, 0.15) 100%);
  filter: blur(90px);
  opacity: 0.4;
}

@keyframes slowDrift {
  0% {
    transform: translate(-50%, -50%) translate3d(-6vw, -3vh, 0) scale(1);
  }

  25% {
    transform: translate(-50%, -50%) translate3d(7vw, 5vh, 0) scale(1.02);
  }

  50% {
    transform: translate(-50%, -50%) translate3d(9vw, -4vh, 0) scale(1.01);
  }

  75% {
    transform: translate(-50%, -50%) translate3d(-8vw, 6vh, 0) scale(1.03);
  }

  100% {
    transform: translate(-50%, -50%) translate3d(-6vw, -3vh, 0) scale(1);
  }
}
